*{
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    top: 100%;
    left: 100%;
    
    
}
@font-face {
    font-family: minecraft;
    src: url(../fontes/Minecraft.ttf);
}
@font-face {
    font-family: mine2;
    src: url(../fontes/Minecrafter.Alt.ttf);
}
body{
    background-image: url(https://img.freepik.com/vetores-premium/padrao-de-chao-de-grama-de-bloco-de-fundo-de-jogo-de-pixel_8071-46689.jpg?semt=ais_hybrid&w=740);
    margin: 0;
    padding: 0;
    height: 100%;
    background-size: cover;
    
}
h1{
    text-align: center;
    font-size: 100px;
    font-family: mine2;
    letter-spacing: 5px;
    color:  #00AA00;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    background-color: #904b2a;
    border-top: 30px solid #00AA00;
    font-weight: bolder; 
    background-image: url(https://cdn.pixabay.com/photo/2020/12/10/12/10/minecraft-5820118_640.png); 
    width: 1150px;
    display: block;
    margin: auto; 
    border-radius: 10px;
    border: solid 5px black;
}
h2{
    font-size: 85px;
    font-family: mine2;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    color: white;
    background-image: url(https://cdn.pixabay.com/photo/2020/12/10/12/10/minecraft-5820118_640.png);
    width: 650px;
    display: block;
    margin: auto;
    border-radius: 7px;
    padding-top: 7px;
    border: solid 5px black;
}
#porco{
    color: pink; 
}
#zumbi{
    color: #00AA00;
}
img{
    border: solid 5px;
    border-radius: 10px;
}
#creper{
    color: #51ff51;
}
